body {
    margin: 0;
    text-align: center;
}

canvas {
    border: solid 1px black;
    margin-bottom: 30px;
}

.sorting {
    margin-top: 150px;
}

#scrollbar{
    display: inline-block;
    height: 100px;
    width: 20px;
    overflow: scroll;
    position: ;
}

