@import url('https://fonts.googleapis.com/css?family=Solway&display=swap');

html {
    position: relative;
    min-height: 100%;
    font-family: 'Solway', serif;
}

body {
    margin: 0 0 100px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin-top: 25px;
}

.navbar img {
    float: left;
    margin-left: 2%;
    margin-right: 20%;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-size: 30px;
    padding: 0 5px 0 5px;
    margin: 0 60px 0 60px;
    position: relative;
}

.navbar li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.navbar li a:hover::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
}




.course_div {
    width: 70%;
    text-align: center;
    margin: 120px 15% auto 15%;
}

.course_div .warning_text {
    margin: auto 25% 75px 25%;
    text-align: left;
    width: 50%;
}

.course_div img {
    height: 20%;
}

.course_div .info_text {
    margin: auto 25% 50px 25%;
    text-align: left;
    width: 50%;
}

.course_div li {
    list-style: none;
}

.course_div a {
    text-decoration: none;
    color: black;
    font-size: 2em;
}


.contant_div {
    width: 70%;
    text-align: center;
    margin: 250px 15% auto 15%;
}

.contant_div .message {
    width: 400px;
    height: 200px;
}


.footer {
    background-color: rgba(156, 155, 151, 0.726);
    text-align: center;
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}
