@import url('https://fonts.googleapis.com/css?family=Solway&display=swap');

html {
    position: relative;
    min-height: 100%;
    font-family: 'Solway', serif;
    background: linear-gradient(180deg, #0E1E4D 0%,  white 100%);
}

body {
    margin: 0 0 100px;
    text-align: center;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin-top: 25px;
}

.navbar img {
    float: left;
    margin-left: 2%;
    margin-right: 20%;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-size: 30px;
    padding: 0 5px 0 5px;
    margin: 0 60px 0 60px;
    position: relative;
}

.navbar li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.navbar li a:hover::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
}

.main_page {
    font-size: 1.5em;
    text-align: center;
    margin-top: 300px;
}

.main_page p {
    margin-bottom: 50px;
}

.main_page button {
    border: none;
    color: black;
    padding: 15px 30px;
    background: rgba(156, 155, 151, 0.726);
    font-size: 30px;
    transition: color 0.3s;
    transition: border 0.3s;
    border:  rgba(156, 155, 151, 0.726) solid 1px;
    border-radius: 3%;
    outline: none;
}

.main_page button:hover {
    color: white;
    border: black solid 1px;
}


.course_div {
    width: 70%;
    text-align: center;
    margin: 120px 15% auto 15%;
}

.course_div .warning_text {
    margin: auto 25% 75px 25%;
    text-align: left;
    width: 50%;
}

.course_div img {
    height: 20%;
}

.course_div .info_text {
    margin: auto 25% 50px 25%;
    text-align: left;
    width: 50%;
}

.course_div li {
    list-style: none;
}

.course_div a {
    text-decoration: none;
    color: black;
    font-size: 2em;
}


.contact {
    margin-top: 220px;
    display: inline-block;
}   

.contact .message {
    width: 400px;
    height: 150px;
}

.contact .small_boxes {
    display: inline-block;
}

.contact .small_boxes input {
    margin: 10px;
}

.contact #title {
    margin-bottom: 60px;
}

.contact #submit_btn {
    font-family: 'Solway', serif;
    color: black;
    font-size: 20px;
    width: 100px;
    height: 40px;
    background:  rgba(156, 155, 151, 0.726);
    border: solid 1px gray;
    transition: color .4s, border .4s;
    border-radius: 10%;
}

.contact #submit_btn:hover {
    color: white;
    border: solid 1px white;
}







.footer {
    background-color: rgba(156, 155, 151, 0.726);
    text-align: center;
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}
